@page "/"

<PageTitle>Index</PageTitle>




<div class="row">
    <div class="col-2"></div>
    <div class="col-8 bg-info text-center "><h2>MONTLY REMITTANCE CALCULATOR</h2></div>
    <div class="col-2"></div>
</div>
<hr class="mb-5"/>


<div class="row">
    
        <div class="row">
            <div class="col-12 ">
            <EditForm Model="@InputModel"  OnValidSubmit="xx" >
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <ValidationSummary></ValidationSummary>
            <div class="row">
                <label for="ct" class="form-label col-8 text-primary">OTHER TITHE DISBURSEMENT (CONGRGATIONAL)</label>
                <input id="ct" class="col-3" type="text" @bind-value="InputModel.CongregationTithe"  placeholder="0.0" title="Members Tithe " />
            </div>
            <hr />
            <div class="row">
                <label for="mt" class="col-8 text-primary">MINISTERS TITHE</label>
                <input id="mt" class="col-3 " type="text" @bind-value="InputModel.MinisterTithe" placeholder="0.0" title="Ministers Tithe " />
            </div>
            <hr />

            <div class="row">
                <label for="slo" class="col-8 text-primary">SUNDAY LOVE OFFERING</label>
                <input id="slo" class="col-3 " type="text" @bind-value="InputModel.SundayLoveOffering" placeholder="0.0" title="Sunday Love Offering " />
            </div>
             <hr />
            <div class="row">
                <label for="slo" class="col-8 text-primary">THANKSGIVING OFFERING</label>
                <input id="slo" class="col-3 " type="text" @bind-value="InputModel.ThanksgivingOffering" placeholder="0.0" title="Thanksgiving Offering " />
            </div>
           <hr />
            <div class="row">
                <label for="crm" class="col-8 text-primary">CRM</label>
                <input id="crm" class="col-3 " type="text" @bind-value="InputModel.CRM" placeholder="0.0" title="CRM" />
            </div>
            <hr />
            <div class="row">
                <label for="jc" class="col-8 text-primary">JUNIOR CHURCH</label>
                <input id="jc" class="col-3 " type="text" @bind-value="InputModel.JuniorChurch" placeholder="0.0" title="Junior Church" />
            </div>
            <hr />

            <div class="row">
                <label for="ff" class="col-8 text-primary">FIRST FRUIT OF INCREASE</label>
                <input id="ff" class="col-3 " type="text" @bind-value="InputModel.FirstFruitIncrease" placeholder="0.0" title="FirstFruit Increase" />
            </div>
           <hr />

            <div class="row">
                    <label for="rfb" class="col-8 text-primary">REDEMPTION OF FIRST BORN</label>
                <input id="rfb" class="col-3 " type="text" @bind-value="InputModel.RedemptioOfFirstBorn" placeholder="0.0" title="Redemption Of FirstBorn" />
            </div>
           <hr />

            <div class="row">
                <label for="hf" class="col-8 text-primary">HOUSE FELLOWSHIP</label>
                <input id="hf" class="col-3 " type="text" @bind-value="InputModel.HouseFellowship" placeholder="0.0" title="House Fellowship" />
            </div>
           <hr />

            <div class="row">
                <label for="pm" class="col-8 text-primary">PROVINCE FOREIGN MISSION OFFERING</label>
                <input id="pm" class="col-3 " type="text" @bind-value="InputModel.ProvinceForeignMissionOffering" placeholder="0.0" title="Province Foreign Mission Offering" />
            </div>
          <hr />
            <div class="row">
                <label for="sso" class="col-8 text-primary">SUNDAY SCHOOL OFFERING</label>
                <input id="sso" class="col-3 " type="text" @bind-value="InputModel.SundaySchoolOffering" placeholder="0.0" title="Sunday School Offering" />
            </div>
            <hr />
            <div class="row">
                <label for="gf" class="col-8 text-primary">GOSPEL FUND</label>
                <input id="gf" class="col-3 " type="text" @bind-value="InputModel.GospelFund" placeholder="0.0" title="Gospel Fund" />
            </div>
            <hr />

                <div class="row">
                    <label for="nw" class="col-8 text-primary">NATIONAL WEEKEND</label>
                    <input id="nw" class="col-3 " type="text" @bind-value="InputModel.NationalWeekend" placeholder="0.0" title="National Weekend" />
                </div>
              <hr />

                <div class="row">
                    <label for="pw" class="col-8 text-primary">PASTORS WELFARE</label>
                    <input id="pw" class="col-3 " type="text" @bind-value="InputModel.PastorsWelfare" placeholder="0.0" title="Pastors Welfare" />
                    
                </div>
              <hr />

                <div class="row ">
                    <div class="col-8">
                         <label for="nw"  class="text-primary">Are you an Area or Parish?</label>

                    </div>
                    <div class="col-3">
                        <select class="form-control" @onchange="((e)=>IsParish(e))">
                            <option selected value="-1">--Please pick one--</option>
                            <option value="0">Parish</option>
                            <option value="1">Area</option>

                        </select>
                    </div>

                </div>
              <hr />
        
                <div class="row">

                    @if ( (AreaOrParishNumber == 0) || (AreaOrParishNumber == 1) )
                    {
                    <input type="submit"  value="Generate" class="btn btn-outline-danger offset-3 col-3" />
                    }

                    else
                    {
                        <input type="submit" value="Generate" disabled class="btn btn-outline-danger offset-3 col-3" />
                    }

            </div>
            </EditForm>
        </div>
        <div class="col-0 border">
            
        </div>
  

        </div>
    

      

</div>



  <hr class="mt-6" />




@if (Show)
{  

    <div class="row ">
        <div class="col-12 ">
                    <h2 class="text-center p-2 mt-5 mb-4  text-white bg-primary">MONTLY REMITTANCE ANALYSIS SHEET</h2>

            <div class="row">
                            <label class="col-1 text-danger fw-bolder ">(A.)</label>
                            <label class="col-11 text-danger fw-bold ">OTHER TITHE DISBURSEMENT (CONGREGATION)</label>
                        
                        <table class=" offset-1 table table-striped ">

                            <tbody>
                                <tr>
                                    <td class="text text-primary ">i.)</td>
                                    <td class="text text-primary ">All Tithe Collected</td>

                                    <td class="text text-danger ">@Ai.ToString("0.00")</td>
                                    <td class="text text-primary ">100%</td>
                                </tr>
                                <tr>
                                    <td class="text text-primary ">ii.)</td>
                                    <td class="text text-primary ">National Headquaters</td>
                                    <td class="text text-danger ">@Aii.ToString("0.00")</td>
                                    <td class="text text-primary ">26%</td>
                                </tr>
                                <tr>
                                    <td class="text text-primary ">iii.)</td>
                                    <td class="text text-primary ">Regional Headquaters</td>
                                    <td class="text text-danger " >@Aiii.ToString("0.00")</td>
                                    <td class="text text-primary ">3%</td>
                                </tr>
                                <tr>
                                    <td class="text text-primary ">iv.)</td>
                                    <td class="text text-primary ">Province Headquaters</td>
                                    <td class="text text-danger ">@Aiv.ToString("0.00")</td>
                                    <td class="text text-primary ">31%</td>
                                </tr>
                                <tr>
                                    <td class="text text-primary ">v.)</td>
                                    <td class="text text-primary ">Zonal Headquaters</td>
                                    <td class="text text-danger ">@Av.ToString("0.00")</td>
                                    <td class="text text-primary ">2%</td>
                                </tr>
                                <tr>
                                    <td class="text text-primary ">vi.)</td>
                                    <td class="text text-primary ">Area Headquaters</td>
                                    <td class="text text-danger ">@Avi.ToString("0.00")</td>
                                    <td class="text text-primary ">2%</td>
                                </tr>
                                <tr>
                                    <td class="text text-primary ">vii.)</td>
                                    <td class="text text-primary ">Province Joint Church Planting</td>
                                    <td class="text text-danger ">@Avii.ToString("0.00")</td>
                                    <td class="text text-primary ">7.2%</td>
                                </tr>
                                <tr>
                                    <td class="text text-primary ">viii.)</td>
                                    <td class="text text-primary ">Retained By Parish</td>
                                    <td class="text text-danger ">@Aviii.ToString("0.00")</td>
                                    <td class="text text-primary ">28.8%</td>
                                </tr>

                            </tbody>
                        </table>
            </div>
            <div class="row">
                <label class="col-1 text-danger fw-bolder ">(B.)</label>
                <label class="col-11 text-danger fw-bold ">MINISTER TITHE </label>

                <table class=" offset-1 table table-striped ">

                    <tbody>
                        <tr>
                            <td class="text text-primary ">i.)</td>
                            <td class="text text-primary ">Total Minister Tithe</td>
                            <td class="text text-danger ">@Bi.ToString("0.00")</td>
                            <td class="text text-primary ">100%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">ii.)</td>
                            <td class="text text-primary ">National Headquaters</td>
                            <td class="text text-danger ">@Bii.ToString("0.00")</td>
                            <td class="text text-primary ">52%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">iii.)</td>
                            <td class="text text-primary ">Regional Headquaters</td>
                            <td class="text text-danger ">@Biii.ToString("0.00")</td>
                            <td class="text text-primary ">2%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">iv.)</td>
                            <td class="text text-primary ">Province Headquaters</td>
                            <td class="text text-danger ">@Biv.ToString("0.00")</td>
                            <td class="text text-primary ">10%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">v.)</td>
                            <td class="text text-primary ">Province Joint Church Planting</td>
                            <td class="text text-danger ">@Bv.ToString("0.00")</td>
                            <td class="text text-primary ">7.2%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">vi.)</td>
                            <td class="text text-primary ">Retained By Parish</td>
                            <td class="text text-danger ">@Bvi.ToString("0.00")</td>
                            <td class="text text-primary ">28.8%</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="row">
                <label class="col-1 text-danger fw-bolder ">(C.)</label>
                <label class="col-11 text-danger fw-bold ">CONTINENTAL TITHE (NORTHERN REGION </label>

                <table class=" offset-1 table table-striped ">

                    <tbody>
                        <tr>
                            <td class="text text-primary ">i.)</td>
                            <td class="text text-primary ">1% Of Tithe Both General &Aacute; Ministers</td>
                            <td class="text text-danger ">@Ci.ToString("0.00")</td>
                            <td class="text text-primary ">1%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <label class="col-1 text-danger fw-bolder ">(D.)</label>
                <label class="col-11 text-danger fw-bold ">SUNDAY LOVE OFFERING (ALL SUNDAYS) </label>

                <table class=" offset-1 table table-striped ">

                    <tbody>
                        <tr>
                            <td class="text text-primary ">i.)</td>
                            <td class="text text-primary ">Total Offering Collected</td>
                            <td class="text text-danger ">@Di.ToString("0.00")</td>
                            <td class="text text-primary ">100%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">ii.)</td>
                            <td class="text text-primary ">National Headquaters</td>
                            <td class="text text-danger ">@Dii.ToString("0.00")</td>
                            <td class="text text-primary ">10%</td>
                        </tr>
                         <tr>
                            <td class="text text-primary ">iii.)</td>
                            <td class="text text-primary ">Province Office</td>
                            <td class="text text-danger ">@Diii.ToString("0.00")</td>
                            <td class="text text-primary ">20%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">iv.)</td>
                            <td class="text text-primary ">Area Office</td>
                            <td class="text text-danger ">@Div.ToString("0.00")</td>
                            <td class="text text-primary ">20%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">v.)</td>
                            <td class="text text-primary ">Retained By Parish</td>
                            <td class="text text-danger ">@Dv.ToString("0.00")</td>
                            <td class="text text-primary ">50%</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="row">
                <label class="col-1 text-danger fw-bolder ">(E.)</label>
                <label class="col-11 text-danger fw-bold ">THANKSGIVING OFFERING (1st Sunday of the month &forall; special thanksgiving) </label>

                <table class=" offset-1 table table-striped ">

                    <tbody>
                        <tr>
                            <td class="text text-primary ">i.)</td>
                            <td class="text text-primary ">Total Thanksgiving Offering</td>
                            <td class="text text-danger ">@Ei.ToString("0.00")</td>
                            <td class="text text-primary ">100%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">ii.)</td>
                            <td class="text text-primary ">National Headquaters</td>
                            <td class="text text-danger ">@Eii.ToString("0.00")</td>
                            <td class="text text-primary ">70%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">iii.)</td>
                            <td class="text text-primary ">Province Pastor</td>
                            <td class="text text-danger ">@Eiii.ToString("0.00")</td>
                            <td class="text text-primary ">5%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">iv.)</td>
                            <td class="text text-primary ">Area Pastor</td>
                            <td class="text text-danger ">@Eiv.ToString("0.00")</td>
                            <td class="text text-primary ">5%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">v.)</td>
                            <td class="text text-primary ">Pastor's Seed</td>
                            <td class="text text-danger ">@Ev.ToString("0.00")</td>
                            <td class="text text-primary ">1%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">vi.)</td>
                            <td class="text text-primary ">Retained By Ministers</td>
                            <td class="text text-danger ">@Evi.ToString("0.00")</td>
                            <td class="text text-primary ">19%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <label class="col-1 text-danger fw-bolder ">(F.)</label>
                <label class="col-11 text-danger fw-bold ">C.R.M OFFERING (DIGGING DEEP &Aacute; THURSDAY FAITH CLINIC) </label>

                <table class=" offset-1 table table-striped ">

                    <tbody>
                        <tr>
                            <td class="text text-primary ">i.)</td>
                            <td class="text text-primary ">Total C.R.M Offering</td>
                            <td class="text text-danger ">@Fi.ToString("0.00")</td>
                            <td class="text text-primary ">100%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">ii.)</td>
                            <td class="text text-primary ">National Headquaters</td>
                            <td class="text text-danger ">@Fii.ToString("0.00")</td>
                            <td class="text text-primary ">50%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">iii.)</td>
                            <td class="text text-primary ">Province Office</td>
                            <td class="text text-danger ">@Fiii.ToString("0.00")</td>
                            <td class="text text-primary ">25%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">iv.)</td>
                            <td class="text text-primary ">Area Office</td>
                            <td class="text text-danger ">@Fiv.ToString("0.00")</td>
                            <td class="text text-primary ">10%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">v.)</td>
                            <td class="text text-primary ">Retained By Parish</td>
                            <td class="text text-danger ">@Fv.ToString("0.00")</td>
                            <td class="text text-primary ">15%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <label class="col-1 text-danger fw-bolder ">(G.)</label>
                <label class="col-11 text-danger fw-bold ">JUNIOR CHURCH </label>

                <table class=" offset-1 table table-striped ">

                    <tbody>
                        <tr>
                            <td class="text text-primary ">i.)</td>
                            <td class="text text-primary ">Total Offering Collected</td>
                            <td class="text text-danger ">@Gi.ToString("0.00")</td>
                            <td class="text text-primary ">100%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">ii.)</td>
                            <td class="text text-primary ">National Headquaters</td>
                            <td class="text text-danger ">@Gii.ToString("0.00")</td>
                            <td class="text text-primary ">10%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">iii.)</td>
                            <td class="text text-primary ">Regional Headquaters</td>
                            <td class="text text-danger ">@Giii.ToString("0.00")</td>
                            <td class="text text-primary ">5%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">iv.)</td>
                            <td class="text text-primary ">Province Co-ordination</td>
                            <td class="text text-danger ">@Giv.ToString("0.00")</td>
                            <td class="text text-primary ">20%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">v.)</td>
                            <td class="text text-primary ">Retained By Parish</td>
                            <td class="text text-danger ">@Gv.ToString("0.00")</td>
                            <td class="text text-primary ">65%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <label class="col-1 text-danger fw-bolder ">(H.)</label>
                <label class="col-11 text-danger fw-bold ">FIRST FRUIT OF INCREASE </label>

                <table class=" offset-1 table table-striped ">

                    <tbody>
                        <tr>
                            <td class="text text-primary ">i.)</td>
                            <td class="text text-primary ">Total </td>
                            <td class="text text-danger ">@Hi.ToString("0.00")</td>
                            <td class="text text-primary ">100%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">ii.)</td>
                            <td class="text text-primary ">Office Of The G.O</td>
                            <td class="text text-danger ">@Hii.ToString("0.00")</td>
                            <td class="text text-primary ">90%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">iii.)</td>
                            <td class="text text-primary ">Pastor-In-Charge</td>
                            <td class="text text-danger ">@Hiii.ToString("0.00")</td>
                            <td class="text text-primary ">5%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">iv.)</td>
                            <td class="text text-primary ">Retained By Parish</td>
                            <td class="text text-danger ">@Hiv.ToString("0.00")</td>
                            <td class="text text-primary ">5%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <label class="col-1 text-danger fw-bolder ">(I.)</label>
                <label class="col-10 text-danger fw-bold ">REDEMPTION OF FIRST BORN </label>
                <label class="col-1 text-danger fw-bold ">@Ii.ToString("0.00") </label>
            </div>
            <div class="row">
                <label class="col-1 text-danger fw-bolder ">(J.)</label>
                <label class="col-11 text-danger fw-bold ">HOUSE FELLOWSHIP </label>

                <table class=" offset-1 table table-striped ">

                    <tbody>
                        <tr>
                            <td class="text text-primary ">i.)</td>
                            <td class="text text-primary ">National Headquaters </td>
                            <td class="text text-danger ">@Ji.ToString("0.00")</td>
                            <td class="text text-primary ">10%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">ii.)</td>
                            <td class="text text-primary ">Province Office</td>
                            <td class="text text-danger ">@Jii.ToString("0.00")</td>
                            <td class="text text-primary ">10%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">iii.)</td>
                            <td class="text text-primary ">Area Office</td>
                            <td class="text text-danger ">@Jiii.ToString("0.00")</td>
                            <td class="text text-primary ">10%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">iv.)</td>
                            <td class="text text-primary ">Retained By Parish</td>
                            <td class="text text-danger ">@Jiv.ToString("0.00")</td>
                            <td class="text text-primary ">20%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">v.)</td>
                            <td class="text text-primary ">House Fellowship Centre</td>
                            <td class="text text-danger ">@Jv.ToString("0.00")</td>
                            <td class="text text-primary ">50%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <label class="col-1 text-danger fw-bolder ">(K.)</label>
                <label class="col-10 text-danger fw-bold ">PROVINCE FOREIGN MISSION OFFERING  </label>
                <label class="col-1 text-danger fw-bold ">@Ki.ToString("0.00") </label>
            </div>
            <div class="row">
                <label class="col-1 text-danger fw-bolder ">(L.)</label>
                <label class="col-11 text-danger fw-bold ">SUNDAY SCHOOL OFFERING </label>

                <table class=" offset-1 table table-striped ">

                    <tbody>
                        <tr>
                            <td class="text text-primary ">i.)</td>
                            <td class="text text-primary ">Total Offering </td>
                            <td class="text text-danger ">@Li.ToString("0.00")</td>
                            <td class="text text-primary ">100%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">ii.)</td>
                            <td class="text text-primary ">National Headquaters</td>
                            <td class="text text-danger ">@Lii.ToString("0.00")</td>
                            <td class="text text-primary ">50%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">iii.)</td>
                            <td class="text text-primary ">Region</td>
                            <td class="text text-danger ">@Liii.ToString("0.00")</td>
                            <td class="text text-primary ">10%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">iv.)</td>
                            <td class="text text-primary ">Province</td>
                            <td class="text text-danger ">@Liv.ToString("0.00")</td>
                            <td class="text text-primary ">20%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">v.)</td>
                            <td class="text text-primary ">Retained By Parish</td>
                            <td class="text text-danger ">@Lv.ToString("0.00")</td>
                            <td class="text text-primary ">20%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <label class="col-1 text-danger fw-bolder ">(M.)</label>
                <label class="col-11 text-danger fw-bold ">GOSPEL FUND </label>

                <table class=" offset-1 table table-striped ">

                    <tbody>
                        <tr>
                            <td class="text text-primary ">i.)</td>
                            <td class="text text-primary ">Total Offering During Sunday Anointing Services </td>
                            <td class="text text-danger ">@Mi.ToString("0.00")</td>
                            <td class="text text-primary ">100%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">ii.)</td>
                            <td class="text text-primary ">National Headquaters</td>
                            <td class="text text-danger ">@Mii.ToString("0.00")</td>
                            <td class="text text-primary ">25%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">iii.)</td>
                            <td class="text text-primary ">Retained By Parish</td>
                            <td class="text text-danger ">@Miii.ToString("0.00")</td>
                            <td class="text text-primary ">75%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <label class="col-1 text-danger fw-bolder ">(N.)</label>
                <label class="col-11 text-danger fw-bold ">NATIONAL WEEKEND (NAME OF THE WEEKEND) </label>

                <table class=" offset-1 table table-striped ">

                    <tbody>
                        <tr>
                            <td class="text text-primary ">i.)</td>
                            <td class="text text-primary ">Total Offering Collected </td>
                            <td class="text text-danger ">@Ni.ToString("0.00")</td>
                            <td class="text text-primary ">100%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">ii.)</td>
                            <td class="text text-primary ">National Headquaters</td>
                            <td class="text text-danger ">@Nii.ToString("0.00")</td>
                            <td class="text text-primary ">0%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">iii.)</td>
                            <td class="text text-primary ">Province Co-ordination</td>
                            <td class="text text-danger ">@Niii.ToString("0.00")</td>
                            <td class="text text-primary ">0%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">iv.)</td>
                            <td class="text text-primary ">Retained By Area</td>
                            <td class="text text-danger ">@Niv.ToString("0.00")</td>
                            <td class="text text-primary ">0%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">v.)</td>
                            <td class="text text-primary ">Retained By Parish</td>
                            <td class="text text-danger ">@Nv.ToString("0.00")</td>
                            <td class="text text-primary ">0%</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <hr>
            <div class="row">
                <label class="col-1 text-success fw-bolder ">(O.)</label>
                <label class="col-11 text-success fw-bold ">SUMMARY OF REMMITANCE </label>

                <table class=" offset-1 table table-striped ">

                    <tbody>
                        <tr>
                            <td class="text text-primary ">i.)</td>
                            <td class="text text-primary ">National Headquaters </td>
                            <td class="text text-danger ">@NationalHeadqtrs.ToString("0.00")</td>
                            <td class="text text-primary ">100%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">ii.)</td>
                            <td class="text text-primary ">Regional Headquaters</td>
                            <td class="text text-danger ">@RegionalHeadqtrs.ToString("0.00")</td>
                            <td class="text text-primary ">0%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">iii.)</td>
                            <td class="text text-primary ">Province Office</td>
                            <td class="text text-danger ">@ProvinceOffice.ToString("0.00")</td>
                            <td class="text text-primary ">0%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">iv.)</td>
                            <td class="text text-primary ">Pastors Welfare (2nd Sunday Love Offering)</td>
                            <td class="text text-danger ">@PastorsWelfare.ToString("0.00")</td>
                            <td class="text text-primary ">0%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">v.)</td>
                            <td class="text text-primary ">G.O Office (First Fruit 90%)</td>
                            <td class="text text-danger ">@GoOffice.ToString("0.00")</td>
                            <td class="text text-primary ">0%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">vi.)</td>
                            <td class="text text-primary ">Retained By Zone</td>
                            <td class="text text-danger ">@RemittanceToZone.ToString("0.00")</td>
                            <td class="text text-primary ">0%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">vii.)</td>
                            <td class="text text-primary ">Retained By Area</td>
                            <td class="text text-danger ">@RemittanceToArea.ToString("0.00")</td>
                            <td class="text text-primary ">0%</td>
                        </tr>
                        <tr>
                            <td class="text text-primary ">viii.)</td>
                            <td class="text text-primary ">Retained By Parish</td>
                            <td class="text text-danger ">@RemittanceToParish.ToString("0.00")</td>
                            <td class="text text-primary ">0%</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <hr>
            <div class="row">
                <label class="col-10 text-success fw-bold ">TOTAL AMOUNT REMITTED TO THE PROVINCE </label>
                <label class="col-2 text-danger fw-bold ">@TotalRemittance.ToString("0.00")  <span class="text-success"><small> &nbsp;&nbsp;(@CsrAndRun for CSR & RUN already included)</small></span> </label>
            </div>

        </div>

        <div class=" col-0 border ">
           
        </div>
    </div>

    
}





@code
{
    public static InputModel InputModel { get; set; } = new();
    public bool Show { get; set; } = false;
    public string SelectedEnum { get; set; }
    public double CsrAndRun { get; set; }
    public int AreaOrParishNumber { get; set; } = -1;


    private void xx()
    {
        Show = true;
        LoadVariable();
    }


    private double Ai { get; set; } 
    private double Aii { get; set; } 
    private double Aiii { get; set; }
    private double Aiv { get; set; } 
    private double Av { get; set; } 
    private double Avi { get; set; }
    private double Avii { get; set; }
    private double Aviii { get; set; }


    private double Bi { get; set; } 
    private double Bii { get; set; } 
    private double Biii { get; set; }
    private double Biv { get; set; } 
    private double Bv { get; set; } 
    private double Bvi { get; set; }


    private double Ci { get; set; } 
    private double Cii { get; set; } 
    private double Ciii { get; set; }
    private double Civ { get; set; } 
    private double Cv { get; set; } 
    private double Cvi { get; set; }


    private double Di { get; set; } 
    private double Dii { get; set; } 
    private double Diii { get; set; }
    private double Div { get; set; } 
    private double Dv { get; set; } 
    private double Dvi { get; set; }


    private double Ei { get; set; } 
    private double Eii { get; set; }
    private double Eiii { get; set; } 
    private double Eiv { get; set; } 
    private double Ev { get; set; }
    private double Evi { get; set; }

    private double Fi { get; set; } 
    private double Fii { get; set; }
    private double Fiii { get; set; } 
    private double Fiv { get; set; } 
    private double Fv { get; set; }
    private double Fvi { get; set; }


    private double Gi { get; set; }
    private double Gii { get; set; }
    private double Giii { get; set; }
    private double Giv { get; set; }
    private double Gv { get; set; }
    private double Gvi { get; set; }

    private double Hi { get; set; }
    private double Hii { get; set; }
    private double Hiii { get; set; }
    private double Hiv { get; set; }
    private double Hv { get; set; }
    private double Hvi { get; set; }

    private double Ii { get; set; }
    private double Iii { get; set; }
    private double Iiii { get; set; }
    private double Iiv { get; set; }
    private double Iv { get; set; }
    private double Ivi { get; set; }

    private double J0 { get; set; }
    private double Ji { get; set; }
    private double Jii { get; set; }
    private double Jiii { get; set; }
    private double Jiv { get; set; }
    private double Jv { get; set; }
    private double Jvi { get; set; }

    private double Ki { get; set; }
    private double Kii { get; set; }
    private double Kiii { get; set; }
    private double Kiv { get; set; }
    private double Kv { get; set; }
    private double Kvi { get; set; }


    private double Li { get; set; }
    private double Lii { get; set; }
    private double Liii { get; set; }
    private double Liv { get; set; }
    private double Lv { get; set; }
    private double Lvi { get; set; }

    private double Mi { get; set; }
    private double Mii { get; set; }
    private double Miii { get; set; }
    private double Miv { get; set; }
    private double Mv { get; set; }
    private double Mvi { get; set; }


    private double Ni { get; set; }
    private double Nii { get; set; }
    private double Niii { get; set; }
    private double Niv { get; set; }
    private double Nv { get; set; }
    private double Nvi { get; set; }

    private double NationalHeadqtrs { get; set; }
    private double RegionalHeadqtrs { get; set; }
    private double ProvinceOffice { get; set; }
    private double PastorsWelfare { get; set; }
    private double GoOffice { get; set; }
    private double RemittanceToZone { get; set; }
    private double RemittanceToArea { get; set; }
    private double RemittanceToParish { get; set; }
    private double TotalRemittance { get; set; }








    private void LoadVariable()
    {


        Ai = InputModel.CongregationTithe;
        Aii = ((InputModel.CongregationTithe / 100.00d) * 26.00d);
        Aiii = ((InputModel.CongregationTithe / 100.00d) * 3.00d);
        Aiv = ((InputModel.CongregationTithe / 100.00d) * 31.00d);
        Av = ((InputModel.CongregationTithe / 100.00d) * 2.00d);
        Avi = ((InputModel.CongregationTithe / 100.00d) * 2.00d);
        Avii = ((InputModel.CongregationTithe / 100.00d) * 7.20d);
        Aviii = ((InputModel.CongregationTithe / 100.00d) * 28.80d);


        Bi = InputModel.MinisterTithe;
        Bii = ((InputModel.MinisterTithe / 100.00d) * 52.00d);
        Biii = ((InputModel.MinisterTithe / 100.00d) * 2.00d);
        Biv = ((InputModel.MinisterTithe / 100.00d) * 10.00d);
        Bv = ((InputModel.MinisterTithe / 100.00d) * 7.20d);
        Bvi = ((InputModel.MinisterTithe / 100.00d) * 28.80d);

        Ci = ((InputModel.CongregationTithe / 100.00d) * 1.00d) + ((InputModel.MinisterTithe / 100.00d) * 1.00d);


        Di = InputModel.SundayLoveOffering;
        Dii = ((InputModel.SundayLoveOffering / 100.00d) * 10.00d);
        Diii = ((InputModel.SundayLoveOffering / 100.00d) * 20.00d);
        Div = ((InputModel.SundayLoveOffering / 100.00d) * 20.00d);
        Dv = ((InputModel.SundayLoveOffering / 100.00d) * 50.00d);

        Ei = InputModel.ThanksgivingOffering;
        Eii = ((InputModel.ThanksgivingOffering / 100.00d) * 70.00d);
        Eiii = ((InputModel.ThanksgivingOffering / 100.00d) * 5.00d);
        Eiv = ((InputModel.ThanksgivingOffering / 100.00d) * 5.00d);
        Ev = ((InputModel.ThanksgivingOffering / 100.00d) * 1.00d);
        Evi = ((InputModel.ThanksgivingOffering / 100.00d) * 19.00d);

        Fi = InputModel.CRM;
        Fii = ((InputModel.CRM / 100.00d) * 50.00d);
        Fiii = ((InputModel.CRM / 100.00d) * 25.00d);
        Fiv = ((InputModel.CRM / 100.00d) * 10.00d);
        Fv = ((InputModel.CRM / 100.00d) * 15.00d);

        Gi = InputModel.JuniorChurch;
        Gii = ((InputModel.JuniorChurch / 100.00d) * 10.00d);
        Giii = ((InputModel.JuniorChurch / 100.00d) * 5.00d);
        Giv = ((InputModel.JuniorChurch / 100.00d) * 20.00d);
        Gv = ((InputModel.JuniorChurch / 100.00d) * 65.00d);


        Hi = InputModel.FirstFruitIncrease;
        Hii = ((InputModel.FirstFruitIncrease / 100.00d) * 90.00d);
        Hiii = ((InputModel.FirstFruitIncrease / 100.00d) * 5.00d);
        Hiv = ((InputModel.FirstFruitIncrease / 100.00d) * 5.00d);



        Ii = InputModel.RedemptioOfFirstBorn;


        J0 = InputModel.HouseFellowship;
        Ji = ((InputModel.HouseFellowship / 100.00d) * 10.00d);
        Jii = ((InputModel.HouseFellowship / 100.00d) * 10.00d);
        Jiii = ((InputModel.HouseFellowship / 100.00d) * 10.00d);
        Jiv = ((InputModel.HouseFellowship / 100.00d) * 20.00d);
        Jv = ((InputModel.HouseFellowship / 100.00d) * 50.00d);


        Ki = InputModel.ProvinceForeignMissionOffering;



        Li = InputModel.SundaySchoolOffering;
        Lii = ((InputModel.SundaySchoolOffering / 100.00d) * 50.00d);
        Liii = ((InputModel.SundaySchoolOffering / 100.00d) * 10.00d);
        Liv = ((InputModel.SundaySchoolOffering / 100.00d) * 20.00d);
        Lv = ((InputModel.SundaySchoolOffering / 100.00d) * 20.00d);


        Mi = InputModel.GospelFund;
        Mii = ((InputModel.GospelFund / 100.00d) * 25.00d);
        Miii = ((InputModel.GospelFund / 100.00d) * 75.00d);



        Ni = InputModel.NationalWeekend;
        Nii = ((InputModel.NationalWeekend / 100.00d) * 0.00d);
        Niii = ((InputModel.NationalWeekend / 100.00d) * 0.00d);
        Niv = ((InputModel.NationalWeekend / 100.00d) * 0.00d);
        Nv = ((InputModel.NationalWeekend / 100.00d) * 0.00d);

        NationalHeadqtrs = Aii + Bii +Dii + Eii +Fii + Gii +Ji +Lii +Mii + Ni + Ii + CsrAndRun;
        RegionalHeadqtrs = Aiii +Biii +Ci + Giii + Liii;
        ProvinceOffice = Aiv + Avii + Biv + Bv +Diii +Eiii +Ev +Fiii + Giv +Jii +Ki +Liv;
        PastorsWelfare = InputModel.PastorsWelfare;
        GoOffice = Hii;
        RemittanceToZone = Av;
        RemittanceToArea = Avi +Div +Eiv +Fiv +Jiii;
        RemittanceToParish = Aviii + Bvi +Dv +Evi +Fv +Gv +Hiii +Hiv  +Jiv +Jv +Lv +Miii;

        TotalRemittance = NationalHeadqtrs + RegionalHeadqtrs + ProvinceOffice + PastorsWelfare + GoOffice + RemittanceToZone + RemittanceToArea;

    }



    private void IsParish(ChangeEventArgs e)
    {

        if (e.Value != null) 
        {
            if (int.Parse(e.Value.ToString()) == 0) //Parish
            {
                // SelectedEnum = e.Value.ToString();
                CsrAndRun = 1500.00d;
                AreaOrParishNumber = int.Parse(e.Value.ToString());
            }

            else if (int.Parse(e.Value.ToString()) == 1)//Area
            {
              // SelectedEnum = e.Value.ToString();
                CsrAndRun = 2500.00d;
                AreaOrParishNumber = int.Parse(e.Value.ToString());
            }
           else //Area
            {

                AreaOrParishNumber = int.Parse(e.Value.ToString());
            }

        }
    }




}